# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyAgUKX86nC6N4zjmCPcAZ-VwQqtAAf1aDc"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:4000"

# NeonDB PostgreSQL connection string
DATABASE_URL="postgresql://neondb_owner:npg_xXiUIlzr0bJ9@ep-muddy-wildflower-aizx3gql-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Server Port
PORT=4000

JWT_SECRET=0a3bfa66a2caac067a808827da44d48cc2578465008c6bd21c6c4ceff876dc7e

# Obtén tu API key gratis en: https://app.brevo.com/settings/keys/api
BREVO_API_KEY=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
# El correo con el que enviará (debe ser el que usaste para registrarte en Brevo)
BREVO_SENDER_EMAIL=nixrazo@gmail.com